#wrapper {
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}


.container {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    max-width: 1210px;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.btn {
    display: inline-block;
    border: none;
    letter-spacing: -.025em;
    border-radius: 3%;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    background-color: $white;
    color: $black;
    min-width: 253px;
    text-align: center;
    padding: 25px 15px;
}

